@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-img{
    background-image: url('../../public/ecom.jpg');
    
}
.promo-1{
        background-image:url('../../public/ecom.jpg') ;
}
.promo-2{
        background-image:url('../../public/ecom.jpg') ;
}